/**
 *  Main site
 */
html { 
    background-image:url("../ice-station-cropped.png");
    background-position-x: 99%;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


/**
 *  Colors: Server list  
 */
html {
    --server_list-background: #00000070;
    --server_list-online_server_hover: #3a3a3a25;
    --server_list-online_server: #30303070;
    --server_list-offline_server: #630c0040;
    --server_list-text-header: #CCCCCC;
    --server_list-text: #f0f0f0;
}


/**
 *  Server list  
 */

.server_list {
    margin: auto;
    font-size: 10;
    margin-top: 30px;
    color: var(--server_list-text); 
    border-collapse: collapse;
    padding: 20px;
    font-family: 'Montserrat';
}


/**
 *   Server list table
 */
.spacer {
    padding: 0px;
    height: 4px;
    background-color: var(--server_list-background);
}
button {
    font-weight: 475;
    font-family: 'Montserrat';
    font-size: 12px; 
    transition-duration: 400ms;
    background-color: #14c5cc;
    border-style: none;
    padding: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
}
button:hover {
    background-color: #1af7ff;
}
table {
    outline: var(--server_list-background) solid 20px;
}
.server, td {
    transition-duration: 200ms;
    font-size: 14px;
    padding: 4px;
    padding-left: 20px;
    font-weight: 500;
}
.item_player_count {
    padding-left: 30px !important;
}
.server[status="offline"] {
    background-color: var(--server_list-offline_server);
}
.server[status="online"] {
    background-color: var(--server_list-online_server);
}
.server[status="online"]:hover {
    transition-duration: 200ms;
    background-color: var(--server_list-online_server_hover);
}
th {
    color: var(--server_list-text-header);
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    background-color: var(--server_list-background);
    padding-bottom: 11px;
}
details {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    transition-duration: 200ms;
    line-height: 175%
}
details:hover {
    transition-duration: 200ms;
    background-color: var(--server_list-online_server_hover)
}