html { 
    background-image:url("../ice-station-cropped.png");
    background-position-x: 99%;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.spacer {
    height: 5px
}

.server_list {
    margin: 5px
}

.server_list, th, td {
    color: white;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Montserrat';
}

th, td {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: #02020230;
}

th {
    text-align: left;
    background: #02020240;
}

td {
    margin-top: 2px;
    margin-bottom: 2px;
}

td.spacer {
    background: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
}